/* static/css/styles.css 

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; 
    filter: blur(30px); 
}

body {
    background: none;
    backdrop-filter: none;
}

*/

.main-content {
    overflow-y: auto;
    position: relative;
    min-height: 100vh; 
}

.animated-background {
    top: 0;
    left: 0;
    width: 100%;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #FAC1AE, #F59777, #FD784A, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
    z-index: -1;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.custom-container {
    margin-top: 75px;
    background-color: rgba(200, 200, 200, 0.2); 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 40px;
}

.navbar-brand img {
    max-height: 80px; 
    vertical-align: middle;
    width: auto;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans', sans-serif;
}

h1 {
    font-size: 45px;
    font-weight: 600;
}

h5 {
    color: #FAE059;
    font-style: italic;
}

h4 {
    color:#ff357f;
    font-weight:bolder;
}

p, a, li, span {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
}


.navbar {
    background-color: #2F2C2A !important; 
}

.navbar-nav.ml-auto .nav-item {
    margin-right: 20px; 
}
.navbar-nav.ml-auto .nav-item .nav-link {
    color: #FAE059 ; 
    transition: color 0.3s; 
    font-size: 20px;
}

.navbar-nav.ml-auto .nav-item .nav-link:hover {
    color: #FFA57B; 
}

.main-container {
    display: flex;
    
}


.info-container {
    color: #323230;
    max-width: 980px; /* Set max-width to limit container width */
    background-color: rgba(200, 200, 200, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-right: 20px; /* Add right margin for separation */
}

.card-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px; /* Add right margin for separation */
    flex-wrap: wrap; /* Allow cards to wrap if needed */
}

.col {
    flex: 0 0 calc(50% - 20px); /* Adjust column width and spacing */
    margin: 10px;
}


.card {
    margin-bottom: 20px;
    border: none; 
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}


.footer {
    margin-top: 60px;
    background-color: #474341;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

