<!DOCTYPE html>
<html>
    <head>
        <title>MultiServe.AI</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>


<div class="main-content">
<body class="animated-background">
    <div class="animated-background">
        <div class="background-blur"></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/MultiServeAI-logos_white.png') }}" alt="MultiServe.AI" class="img-fluid">
        </a>        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Reddit-GPT <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Youtube-GPT <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Wiki-GPT <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">CSV-GPT <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Document-GPT <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container custom-container">
        <h1>Welcome to MultiServe.AI</h1>
        <h5>MultiServe.AI lets you leverage AI on a variety of structured and unstructured data sources such as YouTube, Reddit, CSV's, and more!</h5>
    </div>


    <div class="container main-container">
        <div class="container info-container">
            <p>We all know of ChatGPT by now, however one of its biggest limitations is the scope of its training data. While the sheer amount of training data that ChatGPT was built on 
                is incredibly large, it does not include personal files/datasets. Neither does it include new youtube videos, new reddit posts, new wikipedia pages, or anything that is being constantly updated.
                MultiServe.AI is here to precisely fill in that gap of knowledge; By giving AI modles access to specific data related to your situation, you can leverage the power of AI to maximize your efficiency
                and get insights quicker.
            </p>
        </div>

        <div class="card-group">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Reddit-GPT</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Youtube-GPT</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Wiki-GPT</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">And More!</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<footer class="footer">
    <div class="container">
        <p>&copy; 2023 MultiServe.AI. All rights reserved.</p>
    </div>
</footer>
</div>



</html>
