<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CheetahGPT</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </head>


<div class="main-content">
<body class="animated-background">
    <div class="animated-background">
        <div class="background-blur"></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/CheetahGPT-logos_white.png') }}" alt="CheetahGPT" class="img-fluid">
        </a>        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Reddit-GPT <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Youtube-GPT <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Wiki-GPT <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">CSV-GPT <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Document-GPT <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container custom-container">
        <h1>Welcome to CheetahGPT</h1>
        <h5>CheetahGPT lets you leverage AI on a variety of structured and unstructured data sources such as YouTube, Reddit, CSV's, and more</h5>
    </div>

    <div class="container visuals-container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1 class="visuals-title">Accelerate Your Learning!</h1>
                <!-- <h3>Turbocharge your learning with CheetahGPT, and explore new horizons faster than ever</h3> -->
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/visual3.avif') }}" alt="Visual Image" class="visuals-image">
            </div>
        </div>
    </div>


    <div class="container main-container">
        <div class="card-group">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Reddit-GPT</h4>
                            <p class="card-text">Pick a subreddit, some keywords, and Reddit-GPT will add all posts within that criteria to its knowledge base. Scrolling through countless replies and posts
                                to find the answer you're looking for is now a thing of the past!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Youtube-GPT</h4>
                            <p class="card-text">Paste the link of any video you want; Youtube-GPT will create a transcript of it, and add it to its knowledge base. Want to clarify something you saw
                                in a video, or gain further insights on it? Look no further!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Wiki-GPT</h4>
                            <p class="card-text">Pick some keywords, and Wiki-GPT will find those subsequent wikiepdia pages and add them to its knowledge base. Want to learn about something recent that
                                happened in the past two years? Wiki-GPT will be able to help you!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">And More!</h4>
                            <p class="card-text">Have an Excel file/CSV that you'd like to use AI on? Or what about a document? CheetahGPT has the functionality to let you work with both! We are constantly 
                                working to add new data connections; Stay tuned for new releases!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container how-container">
        <div class="row">
            <div class="col-md-6">
                <p class="how-description">
                    Welcome to CheetahGPT – your doorway to a smarter, easier way of learning and embracing AI in your daily life. Picture yourself sprinting through a vast realm of knowledge, mirroring the swiftness of a cheetah in action. 
                    CheetahGPT is all about giving you 
                    the power of artificial intelligence to learn faster than ever. Think of it as having a supercharged learning assistant that can condense hours of 
                    learning into mere seconds. With the magic of OpenAI's GPT-3.5-Turbo model, our innovative service opens up exciting ways to speed up your learning journey. 
                    By effortlessly connecting CheetahGPT to sources like Wikipedia, Reddit, and YouTube, 
                    you're unlocking a world where research happens in a flash, and your understanding goes deeper than ever before. Whether it's digging into Wikipedia, 
                    unraveling Reddit insights, or absorbing wisdom from YouTube videos, CheetahGPT is your dedicated companion, making learning not just efficient, 
                    but incredibly rewarding. Step into a brighter future of learning with CheetahGPT and let AI drive you toward new horizons.
                </p>
            </div>
            <div class="col-md-6">
                <h1>Why use CheetahGPT?</h1>
            </div>
        </div>
    </div>

    <div class="container faq-container">
        <nav id="navbarfaq" class="navbar bg-body-tertiary px-3 mb-3">
            <h4 style="margin-top: 6px;">FAQ</h4>
          </nav>
          <div data-bs-spy="scroll" data-bs-target="#navbarfaq" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
            <h4 id="scrollspyHeading1">Does CheetahGPT store my data?</h4>
            <p>Rest assured, CheetahGPT prioritizes your privacy. We do not retain any of your data. Once you refresh the page, any documents or CSV files you upload are promptly cleared. 
                CheetahGPT is built to offer a seamless and efficient experience, and to ensure this, we have deliberately omitted user-authentication and data storage functionalities.
                Your data privacy is our utmost concern.
            </p>
            <h4 id="scrollspyHeading2">Is CheetahGPT 100% accurate?</h4>
            <p>
                Like all AI systems, CheetahGPT operates within the realm of probability and is not infallible; CheetahGPT runs with OpenAI's GPT-3.5-Turbo model, and so you can expect similar performance to ChatGPT. While it strives to provide accurate and valuable information, 
                there may be instances where the generated content could vary in accuracy. We continually work to enhance its capabilities and refine its responses, 
                but it's important to exercise critical judgment and verify information when making decisions based on CheetahGPT's output. Your experience with CheetahGPT's accuracy may vary depending on the complexity and context of the queries.
            </p>
            <h4 id="scrollspyHeading3">How does CheetahGPT work under the hood?</h4>
            <p>CheetahGPT utilizes several python pacakges to achieve its core functionalities. Primarily, CheetahGPT makes use of LangChain and LlamaIndex. Different features are created differently, however the logic is usually the same;
                For Reddit-GPT, Wiki-GPT, and Youtube-GPT, the program will first narrow down the potential dataset, before indexing it and preparing it for use with the chat engine. Document-GPT and CSV-GPT are even simpler as they take  the uploaded file,
                and immediately index it. For in-depth discussion about the technical aspects, reach out to Abhro Chowdhury at abhrajyo@ualberta.ca
            </p>
            <h4 id="scrollspyHeading4">Will CheetahGPT include a paid plan?</h4>
            <p>
                Every time a feature is utilized, it incurs usage fees for the OpenAI API. In the process of incorporating new data into the GPT-3.5-Turbo model, an embedding step with Ada V2 from OpenAI is necessary. Additionally, each chat request carries its own cost. 
                Consequently, should CheetahGPT experience substantial demand, we may introduce a paid model to ensure that its operation remains sustainable and avoids running at a deficit. 
            </p>
            <h4 id="scrollspyHeading5">Will CheetahGPT get new data connectors?</h4>
            <p>Yes! We have plans to integrate even more data connectors soon. We are currently working on a Twitter-GPT, and an Image-GPT; If you have any suggestions, please reach out!</p>
          </div>
    </div>
    

    <div class="container learnmore-container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1 class="learnmore-title">Want to learn more?</h1>
                <h3>Contact Abhro Chowdhury at abhrajyo@ualberta.ca for any questions, concerns, or queries</h3> 
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/visual4.avif') }}" alt="Visual Image 2" class="learnmore-image">
            </div>
        
        </div>
    </div>


</body>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <h3>&copy; 2023 CheetahGPT. All rights reserved.</h3>
            <ul class="social-icons">
                <li><a href="https://github.com/AbhroChowdhury/CheetahGPT" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/abhro-chowdhury/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYULXMQNQEvoHfoNxSc6LWA" target="_blank"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</footer>



</div>



</html>
